# ðŸ¤¡ Level # 1

#### Task No 1

In [6]:
# Print a Greeting
name = "GokBoru!"
print(f"Hello,{name}")

Hello,GokBoru!

#### Task No 2

In [11]:
# Change Case
task_1 = "Python is fun!".upper()
print(task_1)

PYTHON IS FUN!

In [12]:
task_2 = "PYTHON IS FUN! ".lower()
print(task_2)

python is fun!

In [13]:
task_3 = "python is fun!".title()
print(task_3)

Python Is Fun!

#### Task No 3

In [19]:
# Store Personal Info in Variables
name = "GokCyber"
age = 22
city = "Lahore"
print(f"My Name is:{name},\nMy Age is:{age},\nI live in:{city}")

My Name is:GokCyber,
My Age is:22,
I live in:Lahore

#### Task No 4

In [24]:
# List of Fruits - Create a list of 5 fruits. Print the first and last fruit
fruits = ['apple','banana','cherry','mango','orange']
print("First Fruit is :", fruits[0])
print("Last Fruit is :", fruits[-1])

First Fruit is : apple
Last Fruit is : orange

#### Task No 5

In [28]:
# Simple Dictionary -- Create a dictionary for a student with name, roll_no, and grade.
std_data = { 
    "name" : "Gokcyber",
    "Roll_No" : 12,
    "Grade" : "A+"
}
std_data

{'name': 'Gokcyber', 'Roll_No': 12, 'Grade': 'A+'}

#### Task No 6

In [36]:
# Even or Odd - Input a number and print whether itâ€™s even or odd using an if statement.
num = int(input("Enter a Number: "))
if num % 2 == 0 :
    print("Number is Even!")
else:
    print("Number is odd!")

Enter a Number:  34

Number is Even!

#### Task No 7

In [40]:
# For Loop: Countingg
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

#### Task No 8

In [42]:
# Simple Function -- Create a function greet() that prints â€œHello! Welcome to Python
def greeting():
    print("Hello! Welcome to Python.")
    return
greeting()

Hello! Welcome to Python.

#### Task No 9

In [49]:
# Using a Built-in Function - Ask for a number and print its square root using pow() or **.
chk_num = int(input("Enter a number to find its square root: "))
square_root = pow(chk_num , 0.5)
print("Square root of you desired number is: ",square_root)

Enter a number to find its square root:  33

Square root of you desired number is:  5.744562646538029

#### Task No 10

In [53]:
# Import a Module - Import the math module and use math.pi to print the value of Ï€.
import math 
print("Value of Pi(Ï€) : ", math.pi)

Value of Pi(Ï€) :  3.141592653589793

# ðŸ‘¾ Level # 2

#### Task No 1

In [5]:
# a complete Python program that asks the user for input and replaces all vowels with *
# Get user input
text = input("Enter a String: ")
# Define vowels (both lowercase and uppercase)
vowels = "aeiouAEIOU"
# Replace vowels with *
result = ""
for char in text:
    if char in vowels:
        result += "*"
    else:
        result += char
# Output the result
print(f"Modified String:",{result} )

Enter a String:  Swap Two Variables Take two variables and swap them without using a third variable.

Modified String: {'Sw*p Tw* V*r**bl*s T*k* tw* v*r**bl*s *nd sw*p th*m w*th**t *s*ng * th*rd v*r**bl*.'}

#### Task No 2

In [15]:
# Swap Two Variables
# Take two variables and swap them without using a third variable.
a = 5
b = 10
a,b = b,a
print("a = ", a)
print("b = ", b)

a =  10
b =  5

#### Task No 3

In [17]:
# List Slicing & Modification
# Take a list of numbers, reverse it, and replace the middle item with 100.
num = [22,44,33,12,66,3]
num.reverse()
num

[3, 66, 12, 33, 44, 22]

In [18]:
num = [22,44,33,12,66,3]
num.sort(reverse=True)
num

[66, 44, 33, 22, 12, 3]

In [21]:
num = [22,44,33,12,66,3]
num.insert(2,100)
num

[22, 44, 100, 33, 12, 66, 3]

#### Task No 4

In [31]:
# Nested Dictionary
# Create a dictionary representing a book with title, author, and a nested dictionary for publisher with name and year.
book = {
    "Title" : "Tafheem ul Quran",
    "Author" : "Syed Abul Ala Maududi",
    "book_publisher" : {
        "name" : "Idara Tarjuman ul Quran",
        "year" : "1972"
    }
}

book

{'Title': 'Tafheem ul Quran',
 'Author': 'Syed Abul Ala Maududi',
 'book_publisher': {'name': 'Idara Tarjuman ul Quran', 'year': '1972'}}

#### Task No 5

In [37]:
# Grade Evaluator
# Take a number and print the grade: A, B, C, or Fail using if-elif-else.
grade = int(input("Enter your Marks : "))
if grade >= 90 :
    print("Your Grade is A+ ")
elif grade >=80 :
    print("Your Grade is A ")
elif grade >=70 :
    print("Your Grade is B ")
elif grade >=60 :
    print("Your Grade is C ")
elif grade >= 55 :
    print("Your Grade is D ")
else:
    print("You are Fail.")

Enter your Marks :  82

Your Grade is A

#### Task No 6

In [ ]:
# Sum of Even Numbers in a List
# Use a for loop to find the sum of even numbers in a list.
num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for x in num(0,16,2):

#### Task No 7

In [1]:
# Function with Parameters
# Write a function add(x, y) that returns the sum of two numbers.
def sum_values(x,y):
    z = x + y
    return z
sum_values(12,33)

45

#### Task No 8

In [3]:
# Find Maximum using Built-in Function
# Use max() on a list of numbers entered by the user.
user_input = (input("Enter Numbers Separated By Spaces: "))
scores = list(map(int,user_input.split()))
maximum = max(scores)
print("The Maximum Scores are: ",maximum)

Enter Numbers Separated By Spaces:  0 19 -1 2 3 10 8

The Maximum Scores are:  19

#### Task No 9

In [6]:
# Random Number Generator
# Use the random module to generate and print 5 random numbers between 1 and 100. 
import random
for i in range(5):
    numbers = random.randint(1,100)
    print(numbers)

16
35
84
23
62

#### Task No 10

In [15]:
# Import Custom Module
# Create your own .py module with a simple function and import it in another file. 
import custom_module

custom_module.greetings()

Hey! How are You?

# ðŸ˜ˆ Level No 3

#### Task No 1

In [38]:
# Print a Pattern
# Use nested for loops to print a triangle pattern of *.
rows = 5 
for i in range(rows,0,-1):
    for j in range(i):
        print("*",end="")
    print()

*****
****
***
**
*

#### Task No 2

In [43]:
# Variable Scope
# Create a function where a local variable has the same name as a global one and print both.
x = 12 # global variable 
def var_scope():
    x = 5 # local variable
    print("Local x:" , x)
var_scope()
print("Global x:",x)

Local x: 5
Global x: 12

#### Task No 3

In [45]:
# List Comprehension
# Use a list comprehension to create a list of squares from 1 to 10.
squares = []
for i in range(1, 11):
    squares.append(i ** 2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Task No 4

In [51]:
# Dictionary Lookup with Error Handling
# Ask the user to input a key and print the value from a dictionary. Use .get() to avoid errors.
user_input = input("Enter a Key : ")
books = {
    "book1" : "ABC" ,
    "book2" : "DEF" ,
    "book3" : "GHI" ,
    "book4" : "JKL" ,
    "book5" : "MNO" ,
    "book6" : "PQR" ,
}

result = books.get(user_input,"key not found!")
print(result)

Enter a Key :  book3

GHI