In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('players_20.csv')

In [8]:
# set index
df.set_index('short_name', inplace = True )

In [9]:
# selecting Columns
df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

## Selecting with Single Value
- loc[row_label,column_label]

In [11]:
# get all data about messi
df.loc['L. Messi']

sofifa_id                                                158023
player_url    https://sofifa.com/player/158023/lionel-messi/...
long_name                        Lionel Andrés Messi Cuccittini
age                                                          32
dob                                                  1987-06-24
                                    ...
lb                                                         63+2
lcb                                                        52+2
cb                                                         52+2
rcb                                                        52+2
rb                                                         63+2
Name: L. Messi, Length: 103, dtype: object

In [13]:
# get height of Messi 
df.loc['L. Messi','height_cm']

np.int64(170)

In [14]:
# Get weight of Cristiano Ronaldo 
df.loc['Cristiano Ronaldo','weight_kg']

np.int64(83)

In [18]:
# get all rows inside 'height_cm' column
# kisi column kei all rows ki values maloom krne kei liey index label kei start pr colon use kr lu
df.loc[:,'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [17]:
# kisi Row Index kei all columns ki values maloom krne kei liey index label kei end pr colon use kr lu
df.loc['L. Messi',:]

sofifa_id                                                158023
player_url    https://sofifa.com/player/158023/lionel-messi/...
long_name                        Lionel Andrés Messi Cuccittini
age                                                          32
dob                                                  1987-06-24
                                    ...
lb                                                         63+2
lcb                                                        52+2
cb                                                         52+2
rcb                                                        52+2
rb                                                         63+2
Name: L. Messi, Length: 103, dtype: object

## Selecting with List of Values

In [33]:
# get the height of messi and ronaldo
players = ['L. Messi','Cristiano Ronaldo']
df.loc[players,'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [34]:
# get the weight and height of Messi 
attribute = ['height_cm','weight_kg']
df.loc['L. Messi',attribute]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [36]:
# get the weight and height of Messi and Ronaldo 
df.loc[players,attribute]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

## Selecting a range with Slicing

In [45]:
df.head(8)

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
K. De Bruyne,192985,https://sofifa.com/player/192985/kevin-de-bruy...,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City,91,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
M. ter Stegen,192448,https://sofifa.com/player/192448/marc-andre-te...,Marc-André ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
V. van Dijk,203376,https://sofifa.com/player/203376/virgil-van-di...,Virgil van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool,90,...,79+3,83+3,83+3,83+3,79+3,81+3,87+3,87+3,87+3,81+3

In [43]:
# slice column labels
players = ['L. Messi','Cristiano Ronaldo']
df.loc[players,'age':'overall']

,age,dob,height_cm,weight_kg,nationality,club,overall
short_name,,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona,94
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus,93

In [46]:
columns = ['age', 'dob', 'height_cm', 'weight_kg']
df.loc['L. Messi':'V. van Dijk',columns]

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
J. Oblak            26  1993-01-07        188         87
E. Hazard           28  1991-01-07        175         74
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92

## Selecting with Conditions

In [54]:
# one condition: select player with height above 180cm
columns = ['age', 'dob', 'height_cm', 'weight_kg'] 
chck = df['height_cm'] > 180
df.loc[chck,columns]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            26  1993-01-07        188         87
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
...                ...         ...        ...        ...
P. Martin           20  1999-01-05        188         84
Shao Shuai          22  1997-03-10        186         79
Zhang Wei           19  2000-05-16        186         75
Wang Haijian        18  2000-08-02        185         74
Pan Ximing          26  1993-01-11        182         78

[9744 rows x 4 columns]

In [63]:
# multiple conditions : select player with height above 180 cm from Argentina
chk1 = df['height_cm']>180
chk2 = df['nationality'] == 'Argentina'
df.loc[(chk1&chk2),:]

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
M. Icardi,201399,https://sofifa.com/player/201399/mauro-icardi/...,Mauro Emanuel Icardi Rivero,26,1993-02-19,181,75,Argentina,Inter,85,...,53+3,52+3,52+3,52+3,53+3,51+3,50+3,50+3,50+3,51+3
G. Higuaín,167664,https://sofifa.com/player/167664/gonzalo-higua...,Gonzalo Gerardo Higuaín,31,1987-12-10,186,89,Argentina,Juventus,85,...,53+3,52+3,52+3,52+3,53+3,49+3,47+3,47+3,47+3,49+3
E. Garay,170481,https://sofifa.com/player/170481/ezequiel-gara...,Ezequiel Marcelo Garay,32,1986-10-10,189,90,Argentina,Valencia CF,83,...,71+3,76+3,76+3,76+3,71+3,72+3,80+3,80+3,80+3,72+3
N. Otamendi,192366,https://sofifa.com/player/192366/nicolas-otame...,Nicolás Hernán Otamendi,31,1988-02-12,183,81,Argentina,Manchester City,83,...,71+3,77+3,77+3,77+3,71+3,73+3,81+3,81+3,81+3,73+3
G. Rulli,215316,https://sofifa.com/player/215316/geronimo-rull...,Gerónimo Rulli,27,1992-05-20,189,84,Argentina,Montpellier HSC,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T. Durso,240955,https://sofifa.com/player/240955/tomas-durso/2...,Tomás Durso,20,1999-02-26,185,80,Argentina,Gimnasia y Esgrima La Plata,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
J. Hass,247295,https://sofifa.com/player/247295/joaquin-hass/...,Joaquín Hass,21,1998-03-27,186,88,Argentina,Club Atlético Colón,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R. Ferrario,245057,https://sofifa.com/player/245057/rafael-ferrar...,Rafael Ferrario,19,2000-04-30,186,76,Argentina,Club Atlético Huracán,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L. Finochietto,241099,https://sofifa.com/player/241099/leandro-finoc...,Leandro Finochietto,22,1997-04-25,186,77,Argentina,Argentinos Juniors,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
N. Forastiero,246841,https://sofifa.com/player/246841/nicolas-foras...,Nicolás Forastiero,20,1998-07-16,182,79,Argentina,Argentinos Juniors,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN